.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid wheat;
}
.navbar>h1{
    font-size: 30px;
    color: yellow;
}
.navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-links>a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    padding: 0 15px;
   text-decoration: none;
}